*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif;}
nav, ul{list-style-type: none;}
a{text-decoration: none;}

/*header*/
header{width: 100%; background-color: #fff; position: absolute; top: 0; left: 0; display: flex;  justify-content: space-between; align-items:center;  padding: 20px 25px;opacity: 0.8;}
header .logo{width: 200px;}
header .toogle{display: none;}
header ul li{ display: inline; margin: 0 20px; text-align: center;}
header ul li:last-child{margin-right: 0px;}
header ul li a{color: #66432D; font-size: 1.1rem;}
header ul li:hover{color: #331a00;}

@media screen and (max-width: 910px){
  header {position: relative; display: flex; flex-direction: column; justify-content: space-between;}
  
    #top{
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 2em;
    }

  header .toogle{text-align: right;
      color: #66432D;
      font-size: 30px;
      display: block;
    }
    
    
  header nav{width: 100%; 
      display: flex; 
      flex-direction: column; 
      display: block;
    }
  
    header ul li{
        width: 100%;
        padding: 20px; 
        margin: 0px;
        display: block; 
        border: 0.1px solid #333333;
        box-sizing: border-box;
    }
}

/*hero*/
.hero{background-image: url("../img/hero-coffee.jpg"); background-size: cover; min-height: 100vh; display: flex; justify-content: center; align-items: center; text-align: center; flex-direction: column;}
.hero .grid{background-color: #66432D; opacity: 0.8;}
.hero h1{color:#fff; font-size: 3.2em;}
.hero h3{color:#1a1a1a; font-size: 1.5em; margin: 20px;}
.hero .btn{background-color: #fff; color: #333333; font-size: 0.9em; padding: 10px 10px; border-radius: 4px; text-transform: uppercase; opacity: 0.8;}
@media(max-width: 700px){
  .hero{min-height: 100vh}
}

/*company*/
.company{width: 100%; background-image: url("../img/antique.jpg"); padding: 40px 0px; display: flex; flex-direction: column; align-items: center;}
.company h1{color: #fff; font-size: 2em; margin: 20px;}
.company a{color:#1a1a1a; font-size: 1.5em; margin: 10px;}
.company p{font-size: 1.2em; }
.company p:last-child{margin: 25px;}
.company .grid{display: flex; flex-wrap: wrap; padding: 20px; align-items: center;}
.company .grid li{margin-right: 30px;}
.company .grid li img{border-radius: 10px; opacity: 0.8;}
@media(max-width: 910px){
  .company .grid li img{flex-basis: 2%;}
}

/*products*/
.products{background-color: #736A66; display: flex; flex-flow: column wrap; text-align: center;}
.products h1{color: #fff; font-size: 2em; text-align: center; padding: 30px 0px;}
.products ul{display: flex; flex-flow: row wrap; justify-content: space-around; text-align: center; width: auto;}
.products li{ text-align: center; width: 400px; margin-top: 20px;}
.products li img{width: 300px; text-align: center;}
.products .text{flex-basis: 60%;}
.products li a{color: #fff; font-size: 1.2em;text-align: center;}
.products li:last-child{ padding-bottom: 35px;}


/*contact-message*/
.contact-message{background-image: url("../img/coffee-contact.jpg"); background-size: cover; min-height: 80vh; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.contact-message h1{color:#fff; font-size: 2.5em;}
.contact-message h1,h3,a{text-align: center; color: #1a1a1a; margin-top: 10px; margin-bottom: 5px;}
.contact-message label{color: #fff; font-size: 1em; margin-top: 15px;}
.contact-message input, textarea{align-items: center; width: 300px; }
.contact-message button{background-color: #fff; color: #333333; width: 250px; font-size: 0.9em; margin: 20px; padding: 10px 10px; border-radius: 4px; opacity: 0.8;}
.contact-message button:hover{background-color: #66432D; color: #fff;}
@media(max-width:700px){
  .contact-message{min-height: 60vh;}
  .contact-message a{font-weight:600;}

}

.footer{width: 100%; background-color: #110b09; padding: 40px 50px; display: flex; justify-content: space-around;}
.footer li img{width: 150px;}
.footer i{margin-right: 10px; font-size: 1.5em; }
.footer a{color: #fff; font-size: 1em;}

.active{
  display:block;
}
